<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pl400fa1610.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c7b9620e-cea4-407c-a603-1664fb2435cc/resourceGroups/PL400/providers/Microsoft.Web/sites/pl400fa1610</ResourceId>
    <UserName>$pl400fa1610</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pl400fa1610.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>